.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 90px;
}

.App-header {
  background-color: #00FF00;
  height: 200px;
  padding: 20px;
  color: #FF0000;
}

.App-title{
  font-size: 15px;
}

.App-title{
  font-size: 15px;
}

.App-intro{
  font-size: moderate;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(9,196,9);
  margin: 1em;
  user-select: none;
 }
 .activeCard {
  color: aqua;
  background: red;
 }